/*radio inputs*/
input[type="radio"]{
  display: none;
}

input[type="radio"] + label{
  padding: 20px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #8DC8C7;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 3px solid #324F4A;
  box-sizing:border-box;
  margin-left: -3px;
  margin-bottom: -3px;
}

input[type="radio"]:hover + label{
  padding: 20px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #B3CFCF;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 3px solid #505050;
  box-sizing:border-box;
  margin-left: -3px;
  margin-bottom: -3px;
}

input[type="radio"]:checked + label{
  padding: 20px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #F8DEBC;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 3px solid #8D695E;
  box-sizing:border-box;
  margin-left: -3px;
  margin-bottom: -3px;
}

.radiolabels{
  width: 620px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.radiolabel{
  width: 50%;
  display: block;
}


body {
  background-color: #DBEAE7;
  height: 100vh;
}


.quiz {
  max-width: 1000px;
  margin: 0 auto;
}

.results {
  max-width: 1000px;
  margin: 0 auto;
}

/*buttons*/
.button:hover, .button:focus, .button:active{
  background-color: #D4DEFF;
}

.button:disabled, button[disabled]{
  background-color: #D0D0D0;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}

.start{
  width: 100px; 
}

.button {
  background-color: #85A0FF;
  border: none;
  color: black;
  padding: 15px 32px;
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.quizImages {
  width: 50%;
  margin: 0 auto;
  position: relative;
  display: block;
  padding-bottom: 30px;
}

.intro {
  width: 500px;
  margin: 50px auto;
  background-color: #E6C8A0;
  padding: 10px 30px;
}

.mainBody {
  font-size: 18px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.question {
  font-size: 18px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  position:relative;
  padding: 20px;
}

.inputs {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-left: 12%;
}



  